doctype html
html
  head
    title= title || 'Survey Gizmo Dashboard'
    link(rel='stylesheet', href='/public/stylesheets/main.scss')
  body
    if config.bugmuncherApiKey
      script.
        var bugmuncher_options = {
          api_key: '!{config.bugmuncherApiKey}'
        };
        (function(){
          var e = document.createElement("script");
          e.setAttribute("type", "text/javascript");
          var d = new Date(); var n = '?'+d.getFullYear()+(d.getMonth()+1)+d.getDate()+d.getHours();
          e.setAttribute("src", "//cdn.bugmuncher.com/bugmuncher.js"+n);
          document.getElementsByTagName("head")[0].appendChild(e);
        })()

    div#logoWrapper
      img#logo(src="/images/logo.png")
      h4 Affiliate Survey
      h5.no-print
        a(href='/') Home
        a(href=config.lmsUrl) LMS

        if email
          a(href='/users/logout', title='Click to log out')= email
        else
          a(href='/users/auth') Log in

    block content
